<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@asset('assets/css/bootstrap.min.css')">
    <link rel="stylesheet" href="@asset('assets/css/style.css')">
    <title>{{ $title }}</title>
</head>

<body>
    <div class="container">
   	 <div class="row px-5">
        	<aside class="col-md-4 d-none d-md-flex">aside</aside>
        	<section class="col-md-4 p-3">
            		@yield("posts")
        	</section>
        	<aside class="col-md-4 d-none d-md-flex">aside</aside>
    	</div>
    </div>
   
    <script type="text/javascript" src="assets/js/index.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>
