.post{
    @include container-rounded;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, red, blue);
    

    .post__text{
        color: rgb(255, 255, 255);
    }
}
